<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwt.springboot.mapper.UserMapper">
    <resultMap id="userInfoBean" type="com.lwt.springboot.domain.UserBean">
        <result property="uId" column="u_id"/>
        <result property="uName" column="u_name"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="queryUserInfo" resultMap="userInfoBean">
        select * from outernet_user
    </select>
</mapper>